# ---------------------------------------------------------------------
# Covers Maven build directory
# ---------------------------------------------------------------------
#
target/
output/
classes/
build/
.gradle/
gradle-app.setting
_gsdata_/
__*__.gradle
__*__/
__pycache__/
python_test/.cache/
#
#
# ---------------------------------------------------------------------
# Covers NetBeans IDE
# ---------------------------------------------------------------------
#
nb-configuration.xml
nbactions.xml
.nb-gradle/
private/
#
#
# ---------------------------------------------------------------------
# Covers Eclipse IDE
# ---------------------------------------------------------------------
#
.project
.classpath
.settings/
bin/
.springBeans
.springWebflow
.externalToolBuilders
.eclipse-pmd
.org.eclipse.*.prefs
bin/
#
#
# ---------------------------------------------------------------------
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm
# ---------------------------------------------------------------------
#
*.iml
#
## Directory-based project format:
.idea/
## File-based project format:
*.ipr
*.iws
## Plugin-specific files:
# IntelliJ
out/
# mpeltonen/sbt-idea plugin
.idea_modules/
# JIRA plugin
atlassian-ide-plugin.xml
# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
#
#
# ---------------------------------------------------------------------
# Backup files
# ---------------------------------------------------------------------
*.bak
#
#
# ---------------------------------------------------------------------
# Logs
# ---------------------------------------------------------------------
*.log
file/
